/* site.css */
#sidebarMenu {
    transition: width 0.5s ease-in-out;
    width: 17vw;
    overflow: hidden;
    flex-shrink: 0;
}

#sidebarMenu.hidden {
    width: 0;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }

.card-img-top {
    background-color: #f8f9fa;
}
